.nav {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  a {
    text-decoration: none;
    color: #212529;
    cursor: pointer;
    font-size: 1.1rem;
  }
}
