.form {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  max-width: 720px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  .form_label {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 80%;
  }
  .form_input {
    height: 2rem;
    padding: 1rem;
  }
  .form_button {
    border: none;
    appearance: none;
    width: 80%;
    background-color: #0d6efd;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    padding: 0.4rem;
  }
}
