.modal {
  background: rgba($color: #000000, $alpha: 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  .modal_container {
    display: grid;
    place-items: center;
    position: relative;
    width: 100%;
  }
}
