.categoria {
  width: 100%;
  border-top: 1px solid #6c757d;
  border-bottom: 1px solid #6c757d;
  padding: 1rem;
  .editarEliminar {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    .editar,
    .borrar {
      appearance: none;
      border: none;
      padding: 0.3rem;
      cursor: pointer;
      border-radius: 5px;
      svg {
        fill: white;
      }
    }
    .editar {
      background: #198754;
    }
    .borrar {
      background: #dc3545;
    }
  }
}
