.producto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  gap: 1rem;
  border-top: 1px solid #6c757d;
  border-bottom: 1px solid #6c757d;
  padding: 1rem 0;
  .product_info {
    .title {
      text-transform: capitalize;
      font-size: 1rem;
    }
    .description,
    .price {
      font-size: 0.8rem;
    }
    .editarEliminar {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
      .editar,
      .eliminar {
        appearance: none;
        border: none;
        padding: 0.5rem;
        font-weight: bold;
        cursor: pointer;
        border-radius: 10%;
        justify-content: center;
        align-items: center;
        color: #fff;
      }
      .editar {
        background: #198754;
      }
      .eliminar {
        background: #dc3545;
      }
    }
  }
  .img {
    width: 250px;
    height: 250px;
    border-radius: 10%;
    overflow: hidden;
  }
}
