@use "../../index.scss" as *;
.product {
  @include flex(row, center, center);
  gap: 1rem;
  padding: $padding;
  background: rgba($color: #fff, $alpha: 0.8);
  .product_info {
    @include flex(column, center, flex-start);
    width: 60%;
    gap: 0.5rem;
    .product_title {
      text-transform: capitalize;
      font-size: 1rem;
    }
    .product_description,
    .product_price {
      font-size: 0.8rem;
    }
    .product_titlesmall {
      font-weight: bold;
      font-size: 0.7rem;
      padding-right: 20px;
    }
    .variant {
      display: flex;
      gap: 0.6rem;
      flex-wrap: wrap;
      text-transform: uppercase;
      .product_price {
        color: $color-text-secondary;
      }
    }
    .product_button {
      appearance: none;
      border: none;
      padding: 0.3rem;
      font-weight: bold;
      color: $color-text-primary;
      background-color: $button-color-primary;
      cursor: pointer;
      border-radius: 10%;
      @include flex(row, center, center);
      &:disabled{
        opacity: 0.5;
        cursor: not-allowed;
      } 
    }
  }
  .product_img {
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin: 1%;
    overflow: hidden;
    width: 31.33%;
    position: relative;
    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }
}
