@use '../../index.scss' as *;
.orderDetail {
  width: 100%;
  @include flex(column, space-between, center);
  gap: 0.6rem;
  border-top: 1px solid $color-border-primary;
  border-bottom: 1px solid $color-border-primary;
  padding: 1rem 0;
  .orderDetail_info {
    @include flex(row, space-between, normal);
    width: 100%;
    .button {
      appearance: none;
      cursor: pointer;
      border: none;
      background: $button-color-warning;
      width: 25px;
      height: 25px;
      border-radius: 5px;
      color: $bg-color-primary;
    }
    .price {
      font-weight: bold;
    }
    .info_cantidad {
      @include flex(row, space-between, center);
      gap: 0.5rem;
      .button {
        background: $button-color-primary;
      }
    }
  }
}
